<footer class="footer">
  <a id="#footer"></a>
  <nav class="footer__menu">
    <ul class="footer__menu-list">
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Articles</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Books</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Events</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Reasons</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__menu">
    <ul class="footer__menu-list">
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Twitter</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Instagram</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="https://adalab.es">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="footer__copy-box">
    <aside class="footer__aside">&copy2017</aside>
    <aside class="footer__aside">
      we &hearts; components
    </aside>
  </div>
  <a name="down"></a>
  <a href="#up"></a>
</footer>
