<footer class="footer">
  <a id="#footer"></a>
  <nav class="footer__menu">
    <ul class="footer__menu-list">
      <li class="footer__menu-item">
        <a class="footer__menu-link">Articles</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link">Books</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link">Events</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link">Reasons</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__menu">
    <ul class="footer__menu-list">
      <li class="footer__menu-item">
        <a class="footer__menu-link">Twitter</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link">Instagram</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="footer__copy-box">
    <aside>&copy2017</aside>
    <aside>
      we &hearts; components
    </aside>
  </div>
  <a id="#abajo"></a>
</footer>
