<header class="header">
  <a id="#arriba"></a>
  <button class="header__burguer">
    <div class="header__burguer-box">
      <a class="link" href="#footer"></a>
      <img src="../assets/images/ico-menu.svg" alt="Menu button" title="Menu button" />
    </div>
  </button>
  <div class="header__container">
    <h1 class="header__main-title">Anonymous proxy</h1>
    <h2 class="header__sub-title">In hac habitasse platea dictumst.</h2>
    <button class="header__down-arrow">
      <a class="link" href="#abajo">
        <div class="header__down-arrow-box">
          <img src="../assets/images/ico-scroll-down.svg" alt="Scroll-down arrow" title=Scroll-down arrow"/>
        </div>
      </a>
    </button>
  </div>
</header>
