<header class="header">
  <button class="header__burguer">
    <a class="header__menu-link" href="https://adalab.es"
      ><div class="header__burguer-box">
        <img src="../assets/images/ico-menu.svg" alt="Menu button" title="Menu button" />
      </div>
    </a>
  </button>
  <div class="header__container">
    <h1 class="header__main-title">Anonymous proxy</h1>
    <h2 class="header__sub-title">In hac habitasse platea dictumst.</h2>
    <div class="header__down-arrow-box">
      <a class="header__link-arrow" href="#down"> </a>
      <a name="up"></a>
    </div>
  </div>
</header>
