<section class="reasons">
  <a name="down"></a>
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <div class="reasons__box">
    <div class="reasons__mini-box">
      <h3 class="reasons__h3">Ut sed metus</h3>
      <p class="reasons__p">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="reasons__mini-box">
      <h3 class="reasons__h3">Curabitur ac erat</h3>
      <p class="reasons__p">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reasons__mini-box">
      <h3 class="reasons__h3">Morbi dictum</h3>
      <p class="reasons__p">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>
  <a class="reasons__link-moreReasons" href="https://adalab.es">More reasons</a>
  <div class="reasons__link-box">
    <a class="reasons__link-upArrow" href="#up"></a>
  </div>
</section>
