<section class="reasons">
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <div class="reasons__box">
    <div class="reasons__mini-box">
      <h3 class="reasons__h3">Ut sed metus</h3>
      <p class="reasons__p">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="reasons__mini-box">
      <h3 class="reasons__h3">Curabitur ac erat</h3>
      <p class="reasons__p">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reasons__mini-box">
      <h3 class="reasons__h3">Morbi dictum</h3>
      <p class="reasons__p">Aliquam in dolor et dolor tincidunt.</p>
    </div>

    <a class="reasons__link" href="https://adalab.es">More reasons</a>
  </div>
  <button class="reasons__up-arrow">
    <a class="link" href="#arriba"></a>
    <div class="reasons__up-arrow-box">
      <img src="../assets/images/ico-arrow.svg" alt="up-arrow buttom" title="up-arrow buttom" />
    </div>
  </button>
</section>
