<section class="reasons">
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <div class="reasons__box">
    <div>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div>
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div>
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <button class="reasons__more-reasons">More reasons
        <a class="link" href="#url("https://adalab.es")"></a>
    </button>
  </div>
  <button class="reasons__up-arrow">
    <a class="link" href="#arriba"></a>
    <div class="reasons__up-arrow-box">
      <img src="../assets/images/ico-arrow.svg" alt="up-arrow buttom" title="up-arrow buttom" />
    </div>
  </button>
</section>
