.looking {
  position: inline-block;
  text-align: left;
  margin: 0 auto;
  padding: 0 0 60px 15px;
  @media all and (min-width: 768px) {
    margin: 0 39px;
  }
  @media all and (min-width: 1200px) {
    margin: 0 275px;
  }
  &__h3 {
    font-family: 14px;
    text-transform: capitalize;
    font-size: $font-primary;
    font-weight: normal;
    color: $light-blue;
    margin: 0 auto;
  }
  &__title {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 24px;
    color: $black;
    text-transform: capitalize;
    text-align: left;
    margin: 0 auto;
  }
  &__p {
    color: $grey;
    font-size: 18px;
    font-family: $font-primary;
    font-weight: normal;
    margin: 15px auto 30px auto;
  }
  &__go {
    border: solid 2px $orange;
    color: $orange;
    background-color: $white;
    text-decoration: unset;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 20px;
    border-radius: 22.5px;
    padding: 10px 25px;
    min-width: 76px;
    min-height: 45px;
    margin: 28px auto 45px auto;
    transition: color ease 0.8s;
    &:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }
}
