.looking {
  /*  border: solid 4px; */
  /*   min-height: 376px; */
  text-align: left;
  width: 290px;
  &__h3 {
    width: 290px;
    /* border: solid 2px; */
    /*  display: inline; */
    font-family: 14px;
    text-transform: capitalize;
    font-size: $font-primary;
    font-weight: normal;
    color: $light-blue;
    margin: 0 215px 0 15px;
  }
  &__title {
    /* border: solid 2px red; */
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 24px;
    color: $black;
    text-transform: capitalize;

    min-width: 280px;
    height: 60px;
    text-align: left;
    margin-left: 15px;
  }
  &__p {
    /* border: solid 2px orange; */
    color: $grey;
    font-size: 18px;
    font-family: $font-primary;
    font-weight: normal;
    padding: 15px 15px 0 15px;
    height: 120px;
    margin-bottom: 30px;
  }
  &__go {
    border: solid 2px $orange;
    color: $orange;
    background-color: $white;
    text-decoration: unset;
    font-family: $font-primary;
    font-weight: 500;
    /* font-weight: bold; */
    font-size: 20px;
    border-radius: 22.5px;
    padding: 10px 25px;

    min-width: 76px;
    min-height: 45px;
    margin: 28px 0 45px 15px;
  }
}
