.reasons {
  background-color: $ice-blue;

  &__title {
    font-family: $font-secondary;
    $fonfont-weight: bold;
    text-transform: capitalize;
    font-size: 24px;
    margin: 30px auto 45px auto;
    padding: 60px 0 0 0;
    text-align: center;
  }
  &__box {
    background-color: $ice-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 45px;
    text-align: center;
    @media all and (min-width: 768px) {
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 1fr;
      justify-content: space-around;
      text-align: center;
    }
  }
  &__mini-box {
    height: 63px;
    display: grid;
    text-align: center;
    min-width: 210px;
  }
  &__h3 {
    font-family: $font-secondary;
    $fonfont-weight: bold;
    font-size: 18px;
    min-width: 210px;
    padding: 14px;
  }
  &__p {
    font-family: $font-primary;
    font-weight: normal;
    font-size: 18px;
    padding: 0 35px;
  }
  &__link-moreReasons {
    height: 45px;
    width: 184px;
    background-color: $orange;
    position: relative;
    border-radius: 22.5px;
    text-align: center;
    padding: 12px 0 0 0;
    text-decoration: none;
    color: $white;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 20px;
    margin: 120px auto 60px auto;
    transition: color ease 0.8s;
    display: block;
    &:hover {
      background-color: $dark-blue;
      color: $orange;
    }
  }
  &__link-box {
    height: 45px;
    width: 45px;
    background-color: $white;
    position: relative;
    border-radius: 50%;
    overflow: visible;
    transform: translateY(50%);
    margin: 0 auto;
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    @keyframes flash {
      from {
        border: solid 3px $white;
      }

      50% {
        border: solid 3px $light-blue;
      }
      to {
        border: solid 3px $grey;
      }
    }
  }
  &__link-upArrow {
    height: 45px;
    width: 45px;
    background-image: url("../images/ico-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
  }
}
