$black: #000000;
$grey: #4a4a4a;
$orange: #f26002;
$white: #ffffff;
$ice-blue: #eff9ff;
$light-blue: #8ccbea;
$medium-blue: #0271bc;
$dark-blue: #304268;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
